.year {
    position: fixed;
    margin-top: 85vh;
    margin-left: 80%;
}
span { /* 드래그 방지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}
